.back-btn {
  position: relative;
  left: 1em;
  top: -0.5em;
  margin: 0 auto;
  width: fit-content;
  padding: 0 1em;
  font-size: larger;
  background-color: inherit;
  font-weight: bold;
  border-radius: 3em;
  border: 2px solid cadetblue;
  color: cadetblue;
  cursor: pointer;
}